---
layout: default
---
<div>
     {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        {% for job in site.data.experience %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ job.company }}</h3>
          <h4 class="resume-item-details" itemprop="description">{{ job.position }} &bull; {{ job.duration }}</h4>
          <p class="resume-item-copy">{{ job.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}

      </section>
      <!-- end Experience -->

      {% endif %}
      {% if site.resume_section_opensource %}
      <!-- begin Open Source -->
      <section class="content-section">

        <header class="section-header">
          <h2>Open Source</h2>
        </header>

        {% for item in site.data.opensource %}
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">{{ item.project }}</h3>
	  <h4 class="resume-item-details" itemprop="description">{{ item.role }} &bull; <a href="{{ item.github_link }}">Pull Request</a></h4>
          <p class="resume-item-copy">{{ item.summary }}</p>
        </div><!-- end of resume-item -->
        {% endfor %}

      </section>
      <!-- end Open Source -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">
        <header class="section-header">
          <h2>Education</h2>
        </header>

        {% for education in site.data.education %}
        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">{{ education.uni }}</h3>
          <h4 class="resume-item-details group" itemprop="description">{{ education.degree }} {{ education.year }}</h4>
          <h5 class="resume-item-details award-title" itemprop="description">{{ education.award }}</h5>
          <p class="resume-item-copy" itemprop="description">
            <ul class="resume-item-list">
              {% for award in education.awards %}
              <li>{{ award.award }}</li>
              {% endfor %}
            </ul>

          <p class="resume-item-copy">{{ education.summary }}</p>
        </div>
        {% endfor %}
      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Tools and Technologies</h2>
        </header>
        {% for skill in site.data.skills %}
        <div class="resume-item">
          <h4 class="resume-item-details">{{ skill.skill }}</h4>
          <p class="resume-item-copy">{{ skill.description }}</p>
        </div>
        {% endfor %}

      </section>
      <!-- end Skills -->
      {% endif %}

</div>
